.ai-float {
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
}
.chat-container {
    position: relative;
    background: #fff;
    left: 25%;
    top: 10px;
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.chat-container-dark {
    z-index: -5000;
    background: #2b2a33;
    color: #aaa;
    position: relative;
    left: 25%;
    top: 10px;
    width: 45%;
    border: 1px solid #555;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.container-close {
    float: right;
    cursor: pointer;
    color: #fff;
}

.container-close:after {
    font-size: 28px;
    margin-top: -12px;
    display: inline-block;
    content: "\00d7";
}

.chat-header {
    background-color: #0360c5;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.chat-messages:before {
    content: "";
    display: block;
    clear: both;
}

.chat-messages {
    padding: 10px;
    height: 500px;
    max-height: 600px;
    overflow-y: scroll;
}

.ai-message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}

.user-message {
    display: inline-block;
    width: 100%;
    background-color: #f4f4f4;
    text-align: right;
    border-radius: 10px 0 10px 10px !important;
}

.user-message-dark {
    display: inline-block;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: right;
    border-radius: 10px 0 10px 10px !important;
}

.bot-message {
    background-color: #007bff;
    min-width: 60%;
    color: #fff;
    border-radius: 0 10px 10px 10px !important;
}

.bot-message-dark {
    background-color: #007bff;
    min-width: 60%;
    color: #fff;
    border-radius: 0 10px 10px 10px !important;
}

.please-wait-message {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: inline-block;
    max-width: 80%;
    background-color: #fff;
    color: #000;
    min-width: 60%;
    text-align: left;
}

.please-wait-message-dark {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: inline-block;
    max-width: 80%;
    background-color: #2b2a33;
    color: #aaa;
    min-width: 60%;
    text-align: left;
}

.chat-input {
    width: 95%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
}
.chat-input:focus {
    outline: none;
}
.small-font {
    font-size: 11px;
    padding-bottom: 5px;
}
