.ai-float {
    position: absolute;
    left: 0;
    right: 0;
}
.llm-chat-container {
    background: #fff;
    position: relative;
    left: 10px;
    top: 10px;
    width: 100%;
    min-width: 1440px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.llm-chat-container-dark {
    background: #2b2a33;
    color: #aaa;
    position: relative;
    left: 10px;
    top: 10px;
    width: 100%;
    min-width: 1440px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.container-close {
    float: right;
    cursor: pointer;
    color: #fff;
}

.container-close:after {
    font-size: 28px;
    margin-top: -12px;
    display: inline-block;
    content: "\00d7";
}

.chat-header {
    background-color: #0360c5;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.llm-chat-messages:before {
    content: "";
    display: block;
    clear: both;
}

.llm-chat-messages {
    padding: 10px;
    border: 1px solid #888;
    height: calc(100vh - 150px);
    overflow-y: scroll;
}

.ai-message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}

.user-message-line {
    display: inline-block;
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ai-user-message {
    width: auto;
    position: absolute;
    right: 50px;
    padding: 10px;
    background-color: #ccc;
    text-align: right;
    border-radius: 15px 0 15px 15px;
    cursor: default;
}

.ai-user-message-dark {
    width: auto;
    position: absolute;
    right: 50px;
    padding: 10px;
    background-color: #555;
    color: #fff;
    text-align: right;
    border-radius: 15px 0 15px 15px;
    display: inline-block;
    cursor: default;
}

.ai-bot-message {
    padding: 10px;
    background-color: #eee;
    width: 80%;
    color: #333;
    cursor: default;
}

.ai-bot-message-dark {
    padding: 10px;
    width: 80%;
    background-color: #333;
    color: #fff;
    cursor: default;
}

.ai-bot-message-border {
    border-radius: 15px;
}

.ai-result-fragment-bg-light {
    padding-top: 0;
    min-width: 60%;
    background-color: #eee;
    width: 80%;
}

.ai-result-fragment-bg-dark {
    padding-top: 0;
    min-width: 60%;
    background-color: #333;
    width: 80%;
}

.results-bottom-border {
    padding-top: 0;
    min-width: 60%;
    background-color: #eee;
    width: 80%;
    border-radius: 0 0 15px 15px;
    height: 20px;
    margin-bottom: 20px;
}

.ai-result-inside {
    background-color: #ddd;
    width: 100%;
    padding: 10px;
    margin: 0 !important;
}

.ai-result-inside-dark {
    background-color: #222;
    width: 100%;
    padding: 10px;
    margin: 0 !important;
}

.results-bottom-border-dark {
    padding-top: 0;
    min-width: 60%;
    background-color: #333;
    border-radius: 0 0 15px 15px;
    width: 80%;
    height: 20px;
    margin-bottom: 20px;
}

.expand-button {
    width: 60%;
    margin-left: 30px;
    font-size: 12px;
}

.ai-bot-message-border-results {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    padding-bottom: 0;
    margin: 0;
}

.please-wait-message {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: inline-block;
    max-width: 80%;
    background-color: #fff;
    color: #000;
    min-width: 60%;
    text-align: left;
}

.please-wait-message-dark {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: inline-block;
    max-width: 80%;
    background-color: #2b2a33;
    color: #aaa;
    min-width: 60%;
    text-align: left;
}

.llm-chat-input {
    width: 100%;
    padding: 10px;
    bottom-bottom: 1px solid #888;
}
.llm-chat-input:focus {
    outline: none;
}
.small-font {
    font-size: 11px;
    padding-bottom: 5px;
}

::placeholder {
    color: #888;
    opacity: 1;
}

.button-size {
    width: 40px !important;
    height: 40px !important;
}

.image-small {
    width: 14px !important;
    height: 14px !important;
}

.focus-cancel {
    cursor: pointer;
    color: #888;
    font-size: 18px;
    margin-left: 10px;
}

.focus-title {
    color: #000;
    border-bottom: 1px solid #888;
    display: inline-block;
    margin-bottom: 10px !important;
}

.focus-title-dark {
    color: #fff;
    border-bottom: 1px solid #888;
    display: inline-block;
    margin-bottom: 10px !important;
}

.focus-advisory {
    font-size: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.focus-label {
    color: #000;
    font-size: 14px;
}

.focus-label-dark {
    color: #fff;
    font-size: 14px;
}

.cursor-busy {
    cursor: progress;
}

.ai-search-control-padding {
    padding-left: 20px;
    padding-right: 50px;
    height: 96vh;
}

.focus-at-bottom {
    position: absolute;
    bottom: 0;
    width: 350px;
    right: 10px;
}

.focus-border {
    border: 1px solid #444;
}

a.ai-link:link {
    text-decoration: none;
    color: #222 !important;
}
a.ai-link:visited {
    text-decoration: none;
    color: #222 !important;
}
a.ai-link:active {
    text-decoration: none;
    color: #222 !important;
}
a.ai-link:hover {
    text-decoration: none;
    color:#ccc !important;
}

