
.line-width-limited {
    width: 70%;
}

.link {
    color:#25ade8;
    cursor: pointer;
}

.circle-margin-left {
    margin-left: 10px;
}

.in-circle {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    color: #777;
    width: 25px;
    height: 25px;
}

.circle-image-size {
    width: 25px;
}