
.line-width-limited {
    width: 70%;
}

.link {
    color:#25ade8;
    cursor: pointer;
}

.circle-margin-left {
    margin-left: 10px;
}

.in-circle {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    color: #777;
    width: 25px;
    height: 25px;
}

.circle-image-size {
    width: 25px;
}

.font-size-adjust {
    font-size: 16px;
    font-weight: 400;
}

.undo-boost {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #333;
}

.undo-boost-dark {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #ccc;
}

.target-symbol {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #ff6666;
}

.transition-transform {
    color: #888;
    cursor: default;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.rotate-90 {
    transform: rotate(90deg);
}
