

.source-selector {
    max-height: 232px;
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    transition: border-color 0.3s, background-color 0.3s;
}

.source-selector-dark {
    max-height: 232px;
    overflow-y: auto;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    background-color: #2a2b2a;
    margin-bottom: 10px;
    transition: border-color 0.3s, background-color 0.3s;
}

.source-selector-width {
}

.document-type-selector-width {
}

.text-bold {
    font-weight: 600;
}

.source-links {
    font-size: 12px;
    margin-right: 8px;
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
}

.source-links-bold {
    font-size: 12px;
    margin-right: 8px;
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.source-selector-input {
    width: 100%;
    border: 1px solid #888;
    padding: 4px 4px 4px 12px;
    border-radius: 4px;
    outline: none !important;
}

.source-item-list {
    line-height: 28px;
    font-weight: 500;
}
