.sidebar {
    height: 100%;
    min-width: 250px;
    background-color: #f2f2f2;
}
.sb-logo {
    height: 70px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.sb-upload {
    height: 70px;
}
.btn-upload {
    background-color: #fff;
    width: 100%;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.btn-upload:hover {
    color: #1c9bd2;
    border-color: #1c9bd285;
    /* background-color: #1c9bd220; */
}
.sb-nav {
    list-style-type: none;
}
.sb-item {
    width: 100%;
    font-size: 14px;
    transition: all .3s ease;
    color: #20273185;
    margin-bottom: 1px;
    font-weight: 400;
}
.sb-item:hover {
    background-color: #20273109;
    color: #202731;
}
.sb-item.active {
    /* background-color: #1c9bd220; */
    /* color: #1c9bd2; */
    background-color: #20273115;
    color: #202731;
    font-weight: 500;
}
.sb-item .sb-icon {
    opacity: .4;
}
.sb-item.active .sb-icon {
    opacity: 1;
}
.sb-icon {
    width: 19px;
    height: 19px;
}
.sb-icon-dropdown, .sb-icon-dropdown-active {
    width: 34px;
    height: 34px;
}
.sb-icon-dropdown-active {
    display: none;
}
.more-list-items:hover .sb-icon-dropdown {
    display: none;
}
.more-list-items:hover .sb-icon-dropdown-active {
    display: block;
}
.sb-branch {
    position: absolute;
    left: 1.5rem;
    height: 37px;
    opacity: .2;
}
.sb-item.active .sb-branch {
    opacity: .3;
}
.menu-disabled-text {
    color: #ddd;
}
