.pre-btn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 0.15rem;
    background-color: transparent;
}
.pre-btn:hover {
    background-color: #ffffff11;
}

.dl-btn {
    height: 40px;
    font-size: 14px;
    /* font-weight: 500; */
    border-radius: 10px;
    border: 1px solid #1c9bd2;
    background-color: #1c9bd250;
    color: #fff;
}
.dl-btn:hover {
    border: 1px solid #1c9bd2;
    background-color: #1c9bd2;
    color: #fff;
}

.dialog-padding {
    display: inline-block;
    padding: 20px;
}

.metadata-header {
    display: inline-block;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.key-style {
    margin-left: 15px;
    width: 350px;
    display: inline-block;
    font-size: 12px;
}

.value-style {
    display: inline-block;
    width: 320px;
    font-size: 12px;
    text-wrap: initial;
}

.metadata-item {
    margin-bottom: 10px;
}

.metadata-key {
    font-style: italic;
}

.metadata-value {
    margin-left: 20px;
}

