
body, html, .App, .auth-wrapper {
    width: 100vw;
}

.auth-wrapper {
    min-width: 450px;
    min-height: 100%;
}

.auth-wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}
.auth-wrapper h6 {
    margin: 0;
    /* padding-bottom: 20px; */
}

.auth-inner {
    margin-top: 10%;
    width: 450px;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(34, 35, 58, 0.2);
    padding: 35px 50px 40px 50px;
    border-radius: 20px;
    transition: all .3s;
    margin-bottom: 2rem;
}

.auth-logo {
    width: 100px;
}

.auth-text-primary {
    color: #1c9bd2;;
}

.version {
    font-size: 10px;
    margin-bottom: 7px;
    color: #20273160;
}

.forgot-password-link {
    color: #1c9bd2 !important;
    cursor: pointer;
}
.forgot-password-link:hover {
    text-decoration: underline;
}

.reset-password-width {
    width: 340px;
}

.expired-dialog {
    margin-top: 200px;
    padding: 20px;
    width: 400px;
    height: 200px;
    left: calc(50% - 200px);
    font-size: 14px;
    background-color: #fff;
    position: absolute;
    z-index: 1022;
    border: 1px solid black;
    border-radius: 2px;
}

.expired-dialog .close {
    cursor: pointer;
}

.offset-1 {
    margin-top: 20px;
}

.offset-2 {
    margin-left: 54px;
}

.small-font-size {
    font-size: 12px;
}

