
.Search {
    display: flex;
    text-align: left;
    height: 100vh;
}

.small-screen {
    display: none  !important;
}

.logo-size {
    height: 50px;
    width: 10%;
}
.enterprise-logo {
    max-width: 250px;
    min-width: 90px;
}

@media (max-width: 1000px) {
    .large-screen {
        display: none !important;
    }
    .small-screen {
        display: block !important;
    }
}

.search-control-hamburger {
    fill: var(--icon-color);
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.svgColorLight {
    fill: #444;
}

.svgColorDark {
    fill: #aaa;
}
