
.SearchResults {
}

.results-container {
    padding-bottom: 8rem;
    scrollbar-width: auto;
    background-color: #f8f8f8;
}

.results-container-dark {
    padding-bottom: 8rem;
    scrollbar-width: auto;
    background-color: #121212;
}

.result-preview {
    width: 150px;
    height: auto;
    max-height: 150px;
    border-radius: 5px;
    /*border: 1px solid #ddd;*/
}
.result-mind {
    /* background: #f2f2f2; */
    background-color: #1c9bd222;
    color: #1c9bd2;
    border-radius: 10px;
    font-size: 15px;
}
.result-breadcrumb {
    font-size: 11px;
    padding: .25rem .6rem;
    border-radius: 5px;
    color: #20273170;
    background-color: #f2f2f2;
}
.result-breadcrumb-dark {
    font-size: 11px;
    padding: .25rem .6rem;
    border-radius: 5px;
    color: #ccc;
    background-color: #111;
}
.results-filename {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #202731 !important;
    line-height: 25px;
}
.results-title-compact {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #202731 !important;
    line-height: 20px;
}
.results-filename-dark {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #ddd !important;
    line-height: 25px;
}
.results-title-compact-dark {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #ddd !important;
    line-height: 20px;
}
.results-filename:hover {
    text-decoration: underline;
}
.results-title-compact:hover {
    text-decoration: underline;
}
.results-filename-dark:hover {
    text-decoration: underline;
}
.results-title-compact-dark:hover {
    text-decoration: underline;
}


/* .results-filename-container {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: all .2s ease;
}
.results-filename-container:hover {
    border-bottom: 2px solid #20273150;
} */
.result-details {
    font-size: 12px;
    font-style: italic;
    color: #20273170;
}
.result-details-dark {
    font-size: 12px;
    font-style: italic;
    color: #ccc;
}
.result-details-title {
    font-size: 11px;
    color: #00071170;
    user-select: all;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.result-details-title-dark {
    font-size: 11px;
    color: #cccccc70;
    user-select: all;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.delete-metadata-icon {
    color: #000;
    width: 16px;
    text-align: center;
    margin-left: 10px;
}
.tag {
    color: #1c9bd2;
    background-color: #1c9bd220;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    /* font-weight: 500; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .7rem;
}
.tag-edit {
    color: #5c5c5c;
    background-color: #1c1c1c20;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    /* font-weight: 500; */
    justify-content: center;
    align-items: center;
    padding: .3rem .7rem;
}
.tag-edit-dark {
    color: #ccc;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    /* font-weight: 500; */
    justify-content: center;
    align-items: center;
    padding: .3rem .7rem;
}
.result-more-btn {
    width: 30px;
    height: 24.5px;
    border-radius: 10px;
    padding: 0;
}
.result-more-btn:hover {
    background-color: #f2f2f2;
}
.result-more-btn img {
    /* width: 100%; */
    height: 100%;
}
.search-primary {
    font-weight: 400 !important;
    background-color: #9bd21c50;
    padding: .1rem .2rem;
    border-radius: 2px;
}
.search-primary-dark {
    font-weight: 400 !important;
    background-color: #9bd21cd0;
    color: #333;
    padding: .1rem .2rem;
    border-radius: 2px;
}
.search-secondary {
    font-weight: 600 !important;
}
.search-secondary-dark {
    font-weight: 600 !important;
    color: #25ade8;
}
.result-document-filter {
    font-size: 13px;
}
.result-document-filter-dark {
    font-size: 13px;
    color: #aaa;
}
.redact-image {
    width: 24px;
    height: 24px;
}
.link-style {
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}
.categorical-item {
    width: 200px;
}

.similar-document-title {
    font-size: 14px;
    color: #888;
    cursor: default;
    font-style: italic;
}

.similar-document-link {
    font-size: 12px;
    cursor: default;
    color: #000;
}

.similar-document-link-dark {
    font-size: 12px;
    cursor: default;
    color: #aaa;
}

.message {
    background: #eee;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.31);
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 50em;
}

.message i:after{
    content: url("../../public/images/friendly.png");
    background: #25ade8;
    font-style:normal;
    color:#eee;
    padding: 1em .75em;
    font-size:1.25em;
    display:block;
    width: 2.5em;
    height:100%;
    text-align:center;
}

.message header {
    background: #25ade8;
    width:100%;
    padding:.5em;
}
.message h2 {
    margin: .75em;
    font-size: 1.25em;
    position: relative;
    display: block;
    width: calc(100% - 2.5em - 1.5em);
}
.message h2 span {
    color:#25ade8;
}
.message-dark h2 span {
    color:#25ade8;
}

.message h2 :after {
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}

.message .dialog-text {
    font-size: 16px;
}

.message .insight-text {
    font-size: 14px;
}


.message-dark {
    background: #888;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.31);
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 50em;
}

.message-dark header {
    background: #25ade8;
    width:100%;
    padding:.5em;
}


.message-dark i:after{
    content: url("../../public/images/friendly.png");
    background: #25ade8;
    font-style:normal;
    padding: 1em .75em;
    font-size:1.25em;
    display:block;
    width: 2.5em;
    height:100%;
    text-align:center;
}

.message-dark h2 {
    margin: .75em;
    font-size: 1.25em;
    position: relative;
    display: block;
    width: calc(100% - 2.5em - 1.5em);
}
.message-dark h2 :after {
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}

.message-dark .dialog-text {
    font-size: 16px;
}

.message-dark .insight-text {
    font-size: 14px;
}



.search-control-padding {
    padding-left: 50px;
}
.warning-text {
    font-size: 10px;
    margin-top: 20px;
}

.loading-dots-container {
    width: 100px;
    margin-top: -10px;
    margin-left: 50px;
}

/* Centers the dots in their container */
.loading-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The basic style for each dot */
.dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #888;
    animation: bounce 1s infinite ease-in-out;
}

/* Stagger the animation delays so they bounce in a sequence */
.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.1s;
}
.dot:nth-child(3) {
    animation-delay: 0.2s;
}

/* Keyframes defining the bounce effect */
@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
}

.page-size-label {
    float: left;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 4px;
}

.page-size-label-dark {
    float: left;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 4px;
    color: #aaa;
}

.page-size-select {
    float: left;
    margin-right: 25px;
}
.search-result-text {
}
.search-result-text-dark {
    color: #fff;
}

.small-font-size {
}

.small-font-size-dark {
    color: #aaa !important;
}

.summary-text-dark {
    color: #aaa;
}

.feedback-offset {
    margin-left: 10px;
    margin-right: 20px;
}

.feedback-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.side-bar {
    border-left: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.1);
}

.side-bar-dark {
    border-left: 1px solid #333;
    background-color: #1e1e1e;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.4) !important;
}

.custom-small-label-2 {
    display: inline-block;
    font-size: 12px;
    max-width: 100px;
    min-width: 100px;
}

.show-similar-width {
    display: inline-block;
    width: 100%;
    max-width: 160px;
    min-width: 160px;
}

.query-builder-header {
    margin-left: -10px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}

.query-builder-text {
    margin-top: 0;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color: var(--bs-body-color);
    justify-content: space-between;
    cursor: default;
}

.clear-all-link {
    font-size: 12px;
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
}

.query-builder-main-input {
    width: 100%;
    border: 1px solid #888;
    padding: 6px;
    border-radius: 4px;
    outline: none !important;
}

