.notifications-dropdown {
    position: absolute;
    top: 65px;
    right: 1.5rem;
    height: calc(100% - 90px);
    width: 470px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #00000022;
    border: 1px solid #ddd;
    z-index: 1023;
    font-size: 13px;
}
.activity-content {
    border-bottom: 1px dashed #ddd;
    transition: all .2s ease;
}
.activity-content:last-child {
    border-bottom: none;
}
.activity-content:hover {
    background-color: #f8f8f8;
}
.activity-file {
    color: #20273170;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .7rem;
    transition: all .2s ease;
}
.activity-content:hover .activity-file  {
    background-color: #eee;
}
