
.dms {
    display: flex;
    text-align: left;
    height: 100vh;
}

.sign-in-menu {
    position: absolute;
    top: 1em;
    right: 1px;
    z-index: 1025;
    width: 250px;
}

.sign-in-float {
    float: left;
    margin-top: 5px;
    width: 150px
}

.outer {
    width: 100%;
    height: 100%;
    position: relative;
}
.inner {
    height: calc(100% - 70px);
    position: relative;
    overflow-y: auto;
}
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #202731dd;
    z-index: 1023;
}
