

.version {
    font-size: 10px;
    margin-bottom: 7px;
    color: #20273160;
}

.App {
    /* text-align: center; */
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
body {
    min-height: 100vh;
    display: flex;
    font-weight: 400;
}
body, html, .App, .auth-wrapper {
    width: 100vw;
}
.auth-wrapper {
    min-width: 450px;
    min-height: 100%;
}
.auth-inner {
    margin-top: 10%;
    width: 400px;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(34, 35, 58, 0.2);
    padding: 35px 50px 40px 50px;
    border-radius: 20px;
    transition: all .3s;
    margin-bottom: 2rem;
}
.auth-logo {
    width: 100px;
}
.spacer-height {
    height: 16px;
}
.auth-wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}
.auth-wrapper h6 {
    margin: 0;
    /* padding-bottom: 20px; */
}
.custom-control-label {
    font-weight: 400;
}
.auth-text-primary {
    color: #1c9bd2;;
}
.auth-btn-primary {
    background: #1c9bd245;
    color: #1c9bd2;
    padding: .6rem;
    font-weight: 500;
}
.auth-btn-primary:hover {
    background: #1c9bd2;
    border: 1px solid #1c9bd2;
    color: #fff;
}
.forgot-password{
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}
.forgot-password-link {
    color: #1c9bd2 !important;
    cursor: pointer;
}
.forgot-password-link:hover {
    text-decoration: underline;
}
::-webkit-input-placeholder {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    color: #20273160 !important;
}
::-moz-placeholder {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    color: #20273160 !important;
}
:-ms-input-placeholder {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    color: #20273160 !important;
}
:-moz-placeholder {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    color: #20273160 !important;
}
